name: Check elements

on:
  schedule:
    - cron: "30 0 * * *"

jobs:
  deploy:

    runs-on: ubuntu-latest

    env:
      UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false

      - name: Set up Node
        uses: actions/setup-node@v6

      - name: Update flask-openapi-elements
        id: update_elements
        run: |
          cd ./flask-openapi-elements/flask_openapi_elements
          old_version=$(cat __version__.py | grep -oP '(?<=__version__ = ").*(?=")')
          new_version=$(npm show @stoplight/elements version)
          if [ "${new_version}" != "${old_version}" ]; then
            curl -L https://cdn.jsdelivr.net/npm/@stoplight/elements@${new_version}/web-components.min.js \
                 -o ./templates/elements/js/web-components.min.js
            curl -L https://cdn.jsdelivr.net/npm/@stoplight/elements@${new_version}/styles.min.css \
                 -o ./templates/elements/css/styles.min.css
            echo -e "# -*- coding: utf-8 -*-\n\n__version__ = \"${new_version}\"" > __version__.py
            echo "new_version=${new_version}" >> $GITHUB_OUTPUT
            echo "is_update=true" >> $GITHUB_OUTPUT
          else
            echo "is_update=false" >> $GITHUB_OUTPUT
          fi

      - name: Git Commit
        if: ${{ steps.update_elements.outputs.is_update == 'true' }}
        id: git_commit
        run: |
          new_version=${{ steps.update_elements.outputs.new_version }}
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update elements ${new_version}"
          git push origin main

      - name: Release flask-openapi-elements
        if: ${{ steps.git_commit.outcome == 'success' }}
        run: |
          cd flask-openapi-elements
          uv build
          uv publish
